* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --bgr: #F1F1F1;
  --common-gray:#ACACAC;
  --color-primary: #48484A;
  --color-night:#D3D3D3;
  --gray-dark: #48484A;
  --bgr-primary: #FFF;
}

[data-theme="light"] {
  --bgr: #F1F1F1;
  --common-gray:#ACACAC;
  --color-primary: #48484A;
  --color-night:#D3D3D3;
  --gray-dark: #48484A;
  --bgr-primary: #FFF;
}
[data-theme="dark"] {
  --bgr: #100E1C;
  --bgr-primary: #212331;
  --common-gray:#ACACAC;
  --color-night: #6D6D6D;
  --color-primary: #E6E6E6;
}


body {
  background-color: var(--bgr);
  font-family: "Rubik", sans-serif;
}

.app {
    background-color: var(--bgr);
    display: flex;
    flex-direction: row;
  }